table {
    border-spacing: 0px;
    height: 100px;
    width: 600px;
    }
    td.red {
    background-color: red; 
    height: 100px;
    width: 600px;
    }
    td.white {
    background-color: white;
    height: 100px;
    width: 600px;
    }
    td.green {
    background-color: green;
    height: 100px;
    width: 600px;
    }